<h1 mat-dialog-title>Service</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <div mat-dialog-content>
    <div fxLayout="row wrap" class="mt-3">

      <!-- Code -->
      <div fxFlex="100" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Code</mat-label>
          <input matInput formControlName="code" required maxlength="50">
          @if (form.controls.code.errors?.minlength) {
            <mat-error>Code must be at least {{ form.controls.code.errors?.minlength.requiredLength }}characters
            </mat-error>
          }
          @if (form.controls.code.errors?.pattern) {
            <mat-error>Code must contain only letters and numbers</mat-error>
          }
          @if (form.controls.code.errors?.maxlength) {
            <mat-error>Code must be at most 50 characters</mat-error>
          }
          @if (form.controls.code.errors?.required) {
            <mat-error>Code is required</mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Name -->
      <div fxFlex="100" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" required>
          @if (form.controls.name.errors?.minlength) {
            <mat-error>Name must be at least {{ form.controls.name.errors?.minlength.requiredLength }}characters
            </mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Description -->
      <div fxFlex="100" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" rows="4" required></textarea>
          @if (form.controls.description.errors?.minlength) {
            <mat-error>Description must be at least {{ form.controls.description.errors?.minlength.requiredLength }}
              characters
            </mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Billing Mode -->
      <div fxFlex="100" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Billing Mode</mat-label>
          <mat-select formControlName="billingMode" required>
            @for ( mode of billingModes;track mode) {
              <mat-option [value]="mode">
                {{ mode }}
              </mat-option>
            }
          </mat-select>
          @if (form.controls.billingMode.errors?.required) {
            <mat-error>Billing Mode is required</mat-error>
          }
        </mat-form-field>
      </div>


      <!-- Is Active -->
      <div fxFlex="100" class="px-2">
        <mat-checkbox formControlName="isActive">Is Active</mat-checkbox>
      </div>

    </div>
  </div>
  <div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 p-3">
      <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
    </div>
  </div>
</form>
