<div class="p-2">
  <mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-3">
      <h2>Service Management</h2>
      <button mat-raised-button color="primary" (click)="openServiceDialog(null)">Add Service</button>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-mdc-table admin-table">
      <div class="mat-mdc-header-row mat-toolbar mat-primary">
        <div class="mat-mdc-header-cell">Name</div>
        <div class="mat-mdc-header-cell">Description</div>
        <div class="mat-mdc-header-cell">Billing mode</div>
        <div class="mat-mdc-header-cell">Status</div>
        <div class="mat-mdc-header-cell"></div>
      </div>
      <div class="mat-mdc-row"
           *ngFor="let services of services | paginate: { itemsPerPage: count, currentPage: page }; let i = index">
        <div class="mat-mdc-cell">{{ services.name }}</div>
        <div class="mat-mdc-cell">{{ services.description }}</div>
        <div class="mat-mdc-cell">{{ services.billingMode }}</div>
        <div class="mat-mdc-cell">
          <span [ngClass]="services.isActive ? 'text-success' : 'text-danger'">
            {{ services.isActive ? 'Active' : 'Disabled' }}
          </span>
        </div>
        <div class="mat-mdc-cell">
          <button mat-mini-fab color="primary" matTooltip="Edit" (click)="openServiceDialog(services)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="removeService(services)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
