<h1 mat-dialog-title>Tenant</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <div mat-dialog-content>
    <div fxLayout="row wrap" class="mt-3">

      <!-- User ID -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>User</mat-label>
          <mat-select formControlName="userId" required>
            <mat-option [value]="">-</mat-option>
            @for (user of users; track $index) {
              <mat-option [value]="user.id">{{ user.firstName }} {{ user.lastName }}</mat-option>
            }
          </mat-select>
          @if (form.controls.userId.errors?.required) {
            <mat-error>User is required</mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Logement ID -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Logement</mat-label>
          <mat-select formControlName="housingUnitId" (selectionChange)="onLogementChange($event)" required>
            <mat-option [value]="">-</mat-option>
            @for (logement of logements; track $index) {
              <mat-option [value]="logement.id">{{ logement.number }} {{ logement.type }}</mat-option>
            }
          </mat-select>
          @if (form.controls.housingUnitId.errors?.required) {
            <mat-error>Logement is required</mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Date Entrée -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date Entrée</mat-label>
          <input matInput [matDatepicker]="datePicker1" formControlName="moveInDate" [min]="minDate" required>
          <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
          <mat-datepicker #datePicker1></mat-datepicker>
          @if (form.controls.moveInDate.errors?.required) {
            <mat-error>Date Entrée is required</mat-error>
          }
          @if (form.controls.moveInDate.errors?.matDatepickerMin) {
            <mat-error>Date Entrée cannot be earlier than today</mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Date Sortie -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date Sortie</mat-label>
          <input matInput [matDatepicker]="datePicker2" formControlName="moveOutDate" [min]="minDate">
          <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
          <mat-datepicker #datePicker2></mat-datepicker>
          @if (form.controls.moveOutDate.errors?.matDatepickerMin) {
            <mat-error>Date Sortie cannot be earlier than today</mat-error>
          }
        </mat-form-field>
      </div>

      <!-- Logement Price -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Logement Price ($)</mat-label>
          <input matInput [value]="logementBasePrice" readonly>
        </mat-form-field>
      </div>

      <!-- Dépôt Garantie -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Dépôt Garantie ($)</mat-label>
          <input matInput type="number" formControlName="securityDeposit" (input)="updatestatus()" [value]="0"
                 [disabled]="!logementBasePrice" required>
          @if (form.controls.securityDeposit.errors?.required) {
            <mat-error>Dépôt Garantie is required</mat-error>
          }
          @if (form.controls.securityDeposit.errors?.max) {
            <mat-error>Dépôt Garantie cannot exceed the logement price</mat-error>
          }
        </mat-form-field>
      </div>

      <!-- status -->
      <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>status</mat-label>
          <input matInput formControlName="status" readonly>
        </mat-form-field>
      </div>

    </div>
  </div>
  <div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 p-3">
      <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
    </div>
  </div>
</form>
